<!DOCTYPE html>
<html>
<head>
  <title>IrcArch</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <%= yield :javascripts %>
</head>
<body>
  <div>
    <div>
      <img src="/images/old-books-cropped.png" style="height: 120px; float: left;"/>
      <div style="float: left; margin-top: 40px; margin-left: 10px;">
        <span style="font-size: 30px; font-weight: bold;">Archaic</span></br>
        <span style="font-size: 10px; color: #999;">Archiving history in the most useful of ways</span>
      </div>
      <div style="float: right; margin-top: 40px;">
        <%= form_tag(search_path) do -%>
          <div style="float: right;">
            <%= text_field_tag 'search_terms', nil, :size => 30 %>
            <%= submit_tag 'Search' %>
          </div>
          <div style="clear: both;"></div>
        <% end -%>
        <%= link_to 'Messages', messages_path, :style => "margin-top: 5px;" %>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>

<%= yield %>

</body>
</html>
